.search_form {
    margin: auto;
    margin-top: 35vh;
    width: 300px;
    text-align: center;
    z-index:1;
}

.search_form_search{
    margin: auto;
    width: 450px;
    z-index:1;
}

.search_right{
    display: inline-block;
}

.search_right .mdl-button{
    display: block;
    margin: auto;
}

.logo_left{
    display: inline-block;
}


.generate{
    width: 300px;
    position: absolute;
    bottom: 10px;
    left: 45vw;
}

.logo{
    width: 100px; /* you can use % */
    height: auto;
}

.card-result{
    margin: auto;
    margin-top: 100px;
    width: 80vw;
}

.search_result{
    padding: 8px;
}

.left-part-result{
    display: inline-block;
    width: 85%;
}

.right-part-result{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 12%;
}

.block{
    display: inline-block;
}

.cluster1{
    background: rgb(104, 242, 99);
}

.cluster2{
    background: rgb(239, 88, 88);
}

.cluster3{
    background: rgb(102, 202, 244);
}

.request_word{
    font-weight: bold;
    color: orange;
}

.cluster_word{
    color: rgb(66, 161, 244);
}
